﻿@model _00002390_DBSD_CW2.Models.Order

@{
    ViewBag.Title = "Order";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.PType.TypeOfProduct)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Product.PType.TypeOfProduct)
            @Html.ValidationMessageFor(model => model.Product.PType.TypeOfProduct)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Theme)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Product.Theme)
            @Html.ValidationMessageFor(model => model.Product.Theme)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Height)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Product.Height)
            @Html.ValidationMessageFor(model => model.Product.Height)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Width)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Product.Width)
            @Html.ValidationMessageFor(model => model.Product.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <p>
            <input type="submit" value="Order" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
