﻿@model _00002390_DBSD_CW2.Models.UserModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

            <fieldset>
                <legend>Login</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <p>
                    <input type="submit" value="Log in" />
                </p>
              
            </fieldset>
}
  <div>
     @Html.ActionLink("Sign up as a new user", "Registration", "Client")
  </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
