﻿@model _00002390_DBSD_CW2.Models.Report

@{
    ViewBag.Title = "Report";
    var m = Model.Records.FirstOrDefault();
}

<h2>Report</h2>


<p>
    @using(Html.BeginForm()) {
    <b>Month</b>
    @Html.DropDownListFor(r => r.Month,new List<SelectListItem> {new SelectListItem{Text="January",Value="1" }, 
                                                                                 new SelectListItem{Text="February",Value="2" },
                                                                                 new SelectListItem{Text="March",Value="3" },
                                                                                 new SelectListItem{Text="April",Value="4" },
                                                                                 new SelectListItem{Text="May",Value="5" },
                                                                                 new SelectListItem{Text="June",Value="6" },
                                                                                 new SelectListItem{Text="July",Value="7" },
                                                                                 new SelectListItem{Text="August",Value="8" },
                                                                                 new SelectListItem{Text="September",Value="9" },
                                                                                 new SelectListItem{Text="October",Value="10" },
                                                                                 new SelectListItem{Text="November",Value="11" },
                                                                                 new SelectListItem{Text="Decempber",Value="12" }})
    <b>&nbsp Type</b>
    @Html.DropDownListFor(r => r.Type, new SelectList(new[] {"BANNER", "POSTER", "BILLBOARD"}))
    <b>&nbsp Minimal Revenue</b>
    @Html.DropDownListFor(r => r.minVal, new SelectList(new[] {0, 100000, 500000, 1000000}));
    <input type="submit" value="Submit"/>
            }
</p>


<table>
    <tr>
    
        <th>
            @Html.DisplayNameFor(model => m.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => m.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => m.NumberOfOrders)
        </th>
        <th>
            @Html.DisplayNameFor(model => m.Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => m.TotalQuantity)
        </th>
    </tr>

@foreach (var item in Model.Records) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfOrders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQuantity)
        </td>
     
    </tr>
}

</table>
