﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!-- Date Picker css -->
     <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" 
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" 
        rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" 
        rel="stylesheet" type="text/css" /> 

    <link href="@Url.Content("~/Content/bootstrap.min.css")" 
        rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/font-awesome.min.css")" 
        rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/main.css")" 
        rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/responsive.css")" 
        rel="stylesheet"  type="text/css" /> 
     <link href="@Url.Content("~/Content/prettyPhoto.css")" 
        rel="stylesheet"  type="text/css" /> 
     <link href="@Url.Content("~/Content/animate.min.css")" 
        rel="stylesheet"  type="text/css" /> 
    
</head>   
   
   <body class="homepage">

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li ><a href="@Url.Action("LogOut", "Account")">Log out</a></li>
                        <li ><a href="@Url.Action("Index", "Product")">Products</a></li>
                        <li><a href="@Url.Action("Report", "Report")">Report</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ChangePassword", "ChangePassword")">Change Password</a></li>
                                <li><a href="@Url.Action("Details", "Client")">My Details</a></li>
                            </ul>
                        </li>                      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="feature" >
        <div class="container">
            @RenderBody()
        </div><!--/.container-->
    </section><!--/#feature-->

   
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!-- for DatePicker -->
    @Scripts.Render("~/bundles/jqueryui") 
    <script>
        $(document).ready(function () {
            $('.datep').datepicker({ dateFormat: "yy-mm-dd" });
        });
   </script>   

</body>
</html>
