﻿@model PagedList.IPagedList<_00002390_DBSD_CW2.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
   
}

<h2>Products</h2>
<p>
    @using (Html.BeginForm("Index","Product",FormMethod.Get))
    {

   <p>
        <b>Search by:</b><br/> 
        <b>Type</b> @Html.TextBox("SearchByType", ViewBag.TypeParam as string)
        <b>&nbsp Required Time</b> @Html.TextBox("SearchByTime", ViewBag.TimeParam as string)
        <b>&nbsp Theme</b> @Html.TextBox("SearchByTheme", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
    }
</p>

<table>
    <tr>
         <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm,
                                                    currentFilter=ViewBag.CurrentFilter,
                                                    searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
        </th>
        <th>
            @Html.ActionLink("Theme", "Index", new { sortOrder = ViewBag.ThemeSortParm,
                                                    currentFilter=ViewBag.CurrentFilter,
                                                     searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                   })
          
        </th>
        <th>
            @Html.ActionLink("Height", "Index", new { sortOrder = ViewBag.HeightSortParm,
                                                    currentFilter=ViewBag.CurrentFilter,
                                                      searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
          
        </th>
        <th>
            @Html.ActionLink("Width", "Index", new { sortOrder = ViewBag.WidthSortParm,
                                                     currentFilter=ViewBag.CurrentFilter,
                                                     searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
          
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParm,
                                                      currentFilter=ViewBag.CurrentFilter,
                                                      searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
         
        </th>
         <th>
            @Html.ActionLink("Required Time", "Index", new { sortOrder = ViewBag.TimeSortParm,
                                                    currentFilter=ViewBag.CurrentFilter,
                                                    searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
           
        </th>
         <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm,
                                                     currentFilter=ViewBag.CurrentFilter,
                                                    searchByTime=ViewBag.TimeParam,
                                                    searchByType=ViewBag.TypeParam
                                                    })
           
        </th>
        <th></th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PType.TypeOfProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeToMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @Html.ActionLink("Order", "Order", new {  id=item.ProductNo} )
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort,
                                                            currentFilter=ViewBag.CurrentFilter,
                                                             searchByTime=ViewBag.TimeParam,
                                                            searchByType=ViewBag.TypeParam
                                                            }))